body{

}
.left{

	width:31%;
	float:left;
	margin-left:3.8%;
	border:1px solid black;
}
.right{
	width:60.5%;
	float:right;
	padding-top:5.4%;
	border:1px solid black;
	
}
.left p:nth-child(2)
 {
	font-family:Myriad Pro;
	text-align:center;
	margin-top:-78%;
	margin-bottom:-19%;
	font-size:55px;}
 .left p:nth-child(3)
 {	 font-family:Myriad Pro;
	font-weight:bold;
	text-align:center;
	font-size:60px;
	margin-bottom:-6%;
 }	
 .left p:nth-child(4)
 {	font-family:Myriad Pro;
	text-align:center;
	font-size:23px;
	font-weight:bolder;}
.profile  {
	display:inline-block;
	margin-top:-141%;
	margin-left:19%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:40px;	
}	
.line{
	margin-top:-143%;
	margin-left:52%;
}
.text-profile{
	width:97.5%;
	 font-family:Myriad Pro;
	 color:black;
	 margin-top:-136%;	
	font-size:15px;	
}
.text-profile span{
font-weight:bold;
}	
.contact {
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-145%;
	font-weight:bold;
	margin-left:19%;
	font-size:40px;	
}	
.names{
	font-family:Myriad Pro;
	color:#3366cc;
	font-size:20px;	
	font-weight:bold;
	 text-transform: uppercase;
	 padding-bottom:8%;
	 
}
.information {
	font-family:Myriad Pro;
	font-size:20px;
	 padding-bottom:8%;
	  padding-left:11%;
}
.contact-information {
	margin-top:-13%;
	margin-left:-1%;
	
}
.skills{
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-148.5%;
	font-weight:bold;
	margin-left:19%;
	font-size:40px;	
}
.types{
	font-family:Myriad Pro;
	font-size:25px;
	text-transform: uppercase;
}
.skills-table {
	margin-top:-15%;
	border:1;
border-color:black;
width:400px;
	text-align:center;
}
.education {
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-0.3%;
	margin-left:11%;
	font-weight:bold;

	font-size:40px;	
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
svg{
	overflow:visible;
}
.master{
	margin-top:-80%;
	margin-left:6%;
	font-family:Myriad Pro;
	color:#336699;
	font-size:25px;	
	font-weight:bold;
}
.date{
	font-weight:normal;
	color:black;
	margin-left:1%;
}
.univercity-name{
	margin-left:6%;
	margin-top:-3%;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:25px;	
}
.text-right{
	width:;
	font-size:15px;	
	font-family:Myriad Pro;
	margin-top:-2.1%;
	margin-left:6.2%;
	margin-right:22%;
	
}