body{

}
.left{

	width:31%;
	float:left;
	margin-left:50px;
	border:;
}
.right{
	width:60.5%;
	float:right;
	padding-top:75px;
	border:;
	
}
.left p:nth-child(2)
 {
	font-family:Myriad Pro;
	text-align:center;
	margin-top:-321px;
	margin-bottom:-81px;
	font-size:55px;}
 .left p:nth-child(3)
 {	 font-family:Myriad Pro;
	font-weight:bold;
	text-align:center;
	font-size:60px;
	margin-bottom:-22px;
 }	
 .left p:nth-child(4)
 {	font-family:Myriad Pro;
	text-align:center;
	font-size:23px;
	font-weight:bolder;}
.profile  {
	display:inline-block;
	margin-top:-586px;
	margin-left:80px;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:40px;	
}	
.line{
	margin-top:-590px;
	margin-left:214px;
}
.text-profile{
	width:401px;
	 font-family:Myriad Pro;
	 color:black;
	 margin-top:-565px;	
	font-size:14.9px;	
}
.text-profile span{
font-weight:bold;
}	
.contact {
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-600px;
	font-weight:bold;
	margin-left:80px;
	font-size:40px;	
}	
.names{
	font-family:Myriad Pro;
	color:#3366cc;
	font-size:20px;	
	font-weight:bold;
	 text-transform: uppercase;
	 padding-bottom:25px;
	 
}
.information {
	font-family:Myriad Pro;
	font-size:20px;
	 padding-bottom:20px;
	  padding-left:37px;
}
.contact-information {
	margin-top:-53px;
	margin-left:-5px;
	
}
.skills{
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-615px;
	font-weight:bold;
	margin-left:80px;
	font-size:40px;	
}
.types{
	margin-top:-57px;
	margin-left:150px;
	font-family:Myriad Pro;
	font-size:25px;
	text-transform: uppercase;
}
.types2{
	margin-top:-625px;
	margin-left:137px;
	font-family:Myriad Pro;
	font-size:25px;
	text-transform: uppercase;
}
.types3{
	margin-top:44px;
	margin-left:146px;
	font-family:Myriad Pro;
	font-size:25px;
	text-transform: uppercase;
}
.types4{
	margin-top:45px;
	margin-left:104px;
	font-family:Myriad Pro;
	font-size:25px;
	text-transform: uppercase;
}

.education {
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-2px;
	margin-left:90px;
	font-weight:bold;
	font-size:40px;	
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
svg{
	overflow:visible;
}
.master{
	margin-top:-646px;
	margin-left:50px;
	font-family:Myriad Pro;
	color:#336699;
	font-size:25px;	
	font-weight:bold;
}
.master3{
	margin-top:-650px;	
	margin-left:50px;
	font-family:Myriad Pro;
	color:#336699;
	font-size:25px;	
	font-weight:bold;
}
.master4{
	margin-top:-646px;
	margin-left:50px;
	font-family:Myriad Pro;
	color:#336699;
	font-size:25px;	
	font-weight:bold;
}
.date{
	font-weight:normal;
	color:black;
	margin-left:6px;
}
.univercity-name{
	margin-left:48px;
	margin-top:-24px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:25px;	
}
.text-right{
	width:;
	font-size:15px;	
	font-family:Myriad Pro;
	margin-top:-17px;
	margin-left:51px;
	margin-right:180px;
	margin-bottom:12px;
	
}
.experience {
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-597px;
	margin-left:89px;
	font-weight:bold;
	font-size:40px;	
}
.company-name{
	margin-top:-632px;
	margin-bottom:11px;
	margin-left:50px;
	font-family:Myriad Pro;
	font-size:25px;	
	font-weight:bold;
}
.your-job{
	margin-left:49px;
	margin-top:-9px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:25px;	
}
.company-name2{
	margin-top:-650px;
	margin-bottom:12px;
	margin-left:50px;
	font-family:Myriad Pro;
	font-size:25px;	
	font-weight:bold;
}
.company-name3{
	margin-top:-646px;
	margin-bottom:10px;
	margin-left:50px;
	font-family:Myriad Pro;
	font-size:25px;	
	font-weight:bold;
}
.photoshop{
	display:block;
	margin-top:-647px;
	margin-left:5px;
	font-size:25px;	
	font-family:Myriad Pro;
}
.photoshop span{
	margin-left:195px;
}
.illustrator{
	display:block;
	margin-top:55px;
	margin-left:5px;
	font-size:25px;	
	font-family:Myriad Pro;
}
.illustrator span{
	margin-left:190px;
}
.indesign{
	display:block;
	margin-top:55px;
	margin-left:5px;
	font-size:25px;	
	font-family:Myriad Pro;
}
.indesign span{
	margin-left:230px;
}
.rect1{
	width:267px;
	height:23px;
}