body{
width:100%;
box-sizing: border-box;
overflow-x:hidden;
overflow-y:scroll;
}
svg{
	overflow:visible;
}
.col-left{
	width:34.5%;
	float:left;
	margin-left:6%;
	border:1px solid black;
}
.col-right{
	width:50%;
	float:right;
	margin-right:6%;
	border:1px solid red;
}
.top-circle{
	text-align:center;
	border:1px solid black;	
	
}
.top-circle circle:nth-child(2){
	r:44%; fill:#336699;cy:201px;cx:50%;
}
.top-circle circle:nth-child(1){
 r:49.8%; cx:50%;cy:201px;stroke-width:1; stroke:#336699; fill:white;
}
.name-here{
	font-family:Myriad Pro;
	text-align:center;
	margin-top:193px;
	font-size:3.6em;
}
.surname{
	 font-family:Myriad Pro;
	font-weight:bold;
	text-align:center;
	font-size:3.9em;
	margin-top:-80px;
}
.graphic-designer{
	font-family:Myriad Pro;
	text-align:center;
	font-size:1.6em;
	font-weight:bolder;
	margin-top:-60px;
}
.profile-circle circle:nth-child(2){
	 r:14.4%; cx:16.5%; cy:90px; ; fill:#3366cc;
}
.profile-circle circle:nth-child(1){
	 r:16%; cx:16.5%; cy:90px; stroke-width:1; stroke:#3366cc; fill:white;
}
.profile-circle rect{
	 fill:#336699; x:88%; y:85px;width:173px;
	height:5px;
	
}
.profile p:nth-child(1) {
	display:block;
	margin-top:-88px;
	margin-left:21%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.text-profile{
	width:92%;
	 font-family:Myriad Pro;
	 color:black;
	 margin-top:-15px;	
	  margin-left:2.5%;		
	box-sizing:border-box;
}
.text-profile span{
	font-weight:bold;
	
}
.contact-circle circle:nth-child(2){
	 r:14.4%; cx:16.5%; cy:64px; ; fill:#3366cc;
}
.contact-circle circle:nth-child(1){
	 r:16%; cx:16.5%; cy:64px; stroke-width:1; stroke:#3366cc; fill:white;
}
.contact-circle rect{
	 fill:#336699; x:95%; y:60px;width:152px;
	height:5px;
	
}
.contact p:nth-child(1) {
	display:block;
	margin-top:-112px;
	margin-left:21%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.contact table{
	margin-left:1.6%;
}
.names{
	font-family:Myriad Pro;
	color:#3366cc;
	font-size:1.4em;	
	font-weight:bold;
	 text-transform: uppercase;
	 padding-bottom:24px;
	 
}
.information {
	font-family:Myriad Pro;
	font-size:1.4em;
	padding-bottom:26px;
	  padding-left:10%;
}
.skills-circle circle:nth-child(2){
	 r:14.4%; cx:16.5%; cy:58px; ; fill:#3366cc;
}
.skills-circle circle:nth-child(1){
	 r:16%; cx:16.5%; cy:58px; stroke-width:1; stroke:#3366cc; fill:white;
}
.skills-circle rect{
	 fill:#336699; x:79%; y:53px;width:197px;
	height:5px;	
}
.skills p:nth-child(1) {
	display:block;
	margin-top:-122px;
	margin-left:21%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.types1{
	margin-top:-3px;
	margin-left:37%;
	font-family:Myriad Pro;
	font-size:1.7em;
	text-transform: uppercase;
}
.types2{
	margin-top:45px;
	margin-left:34%;
	font-family:Myriad Pro;
	font-size:1.7em;
	text-transform: uppercase;
}
.types3{
	margin-top:46px;
	margin-left:36%;
	font-family:Myriad Pro;
	font-size:1.7em;
	text-transform: uppercase;
}
.types4{
	margin-top:45px;
	margin-left:26.5%;
	font-family:Myriad Pro;
	font-size:1.7em;
	text-transform: uppercase;
}
.creative{
	margin-left:-9.5%;
}
 .creative1{
r:3.9%; cx:37%; cy:-246px;	fill:#336699;
}
 .creative2{
r:3.9%; cx:46%; cy:-246px;	fill:#336699;
}
 .creative3{
r:3.9%; cx:55%; cy:-246px;	fill:#336699;
}
 .creative4{
r:3.9%; cx:65%; cy:-246px;	fill:#336699;
}
 .creative5{
r:3.9%; cx:74%; cy:-246px;	fill:#336699;
}
 .creative6{
r:3.9%; cx:84%; cy:-246px;	fill:#336699;
}
 .creative7{
r:3.9%; cx:94%; cy:-246px;	fill:#336699;
}
 .creative8{
r:3.9%; cx:103%; cy:-246px;	fill:#336699;
}
 .creative9{
r:3.9%; cx:112%; cy:-246px;	fill:#336699;
}
.creative10{
r:3.9%; cx:121%; cy:-246px;	fill:#E0EEEE;
}
 .creative11{
r:3.9%; cx:131%; cy:-246px;	fill:#E0EEEE;
}
.creative12{
r:3.9%; cx:141%; cy:-246px;	fill:#E0EEEE;
}

.teamwork1{
r:3.9%; cx:37%; cy:-168px;	fill:#336699;
}
.teamwork2{
r:3.9%; cx:46%; cy:-168px;	fill:#336699;
}
.teamwork3{
r:3.9%; cx:55%; cy:-168px;	fill:#336699;
}
.teamwork4{
r:3.9%; cx:65%; cy:-168px;	fill:#336699;
}
 .teamwork5{
r:3.9%; cx:74%; cy:-168px;	fill:#336699;
}
.teamwork6{
r:3.9%; cx:84%; cy:-168px;	fill:#336699;
}
 .teamwork7{
r:3.9%; cx:94%; cy:-168px;	fill:#336699;
}
 .teamwork8{
r:3.9%; cx:103%; cy:-168px;	fill:#336699;
}
 .teamwork9{
r:3.9%; cx:112%; cy:-168px;	fill:#336699;
}
.teamwork10{
r:3.9%; cx:121%; cy:-168px;	fill:#336699;
}
 .teamwork11{
r:3.9%; cx:131%; cy:-168px;	fill:#336699;
}
 .teamwork12{
r:3.9%; cx:141%; cy:-168px;	fill:#E0EEEE;
}

.innovate1{
r:3.9%; cx:37%; cy:-89px;	fill:#336699;
}
 .innovate2{
r:3.9%; cx:46%; cy:-89px;	fill:#336699;
}
.innovate3{
r:3.9%; cx:55%; cy:-89px;	fill:#336699;
}
 .innovate4{
r:3.9%; cx:65%; cy:-89px;	fill:#336699;
}
 .innovate5{
r:3.9%; cx:74%; cy:-89px;	fill:#336699;
}
.innovate6{
r:3.9%; cx:84%; cy:-89px;	fill:#336699;
}
.innovate7{
r:3.9%; cx:94%; cy:-89px;	fill:#E0EEEE;
}
 .innovate8{
r:3.9%; cx:103%; cy:-89px;	fill:#E0EEEE;
}
 .innovate9{
r:3.9%; cx:112%; cy:-89px;	fill:#E0EEEE;
}
.innovate10{
r:3.9%; cx:121%; cy:-89px;	fill:#E0EEEE;
}
 .innovate11{
r:3.9%; cx:131%; cy:-89px;	fill:#E0EEEE;
}
.innovate12{
r:3.9%; cx:141%; cy:-89px;	fill:#E0EEEE;
}
 .communication1{
r:3.9%; cx:37%; cy:-10px;	fill:#336699;
}
 .communication2{
r:3.9%; cx:46%; cy:-10px;	fill:#336699;
}
 .communication3{
r:3.9%; cx:55%; cy:-10px;	fill:#336699;
}
 .communication4{
r:3.9%; cx:65%; cy:-10px;	fill:#336699;
}
.communication5{
r:3.9%; cx:74%; cy:-10px;	fill:#336699;
}
 .communication6{
r:3.9%; cx:84%; cy:-10px;	fill:#336699;
}
.communication7{
r:3.9%; cx:94%; cy:-10px;	fill:#336699;
}
 .communication8{
r:3.9%; cx:103%; cy:-10px;	fill:#336699;
}
.communication9{
r:3.9%; cx:112%; cy:-10px;	fill:#336699;
}
.communication10{
r:3.9%; cx:121%; cy:-10px;	fill:#336699;
}
.communication11{
r:3.9%; cx:131%; cy:-10px;	fill:#336699;
}
 .communication12{
r:3.9%; cx:141%; cy:-10px;	fill:#E0EEEE;
}
.education-circle circle:nth-child(2){
	 r:14.4%; cx:14.5%; cy:107px; ; fill:#3366cc;
}
.education-circle  circle:nth-child(1){
	 r:16%; cx:14.5%; cy:107px; stroke-width:1; stroke:#3366cc; fill:white;
}
.education-circle rect{
	 fill:#336699; x:112%; y:102px;width:322px;
	height:5px;	
}
.education p:nth-child(1) {
	display:block;
	margin-top:-72px;
	margin-left:15%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.master{
	margin-top:-153px;
	margin-left:8.6%;
	font-family:Myriad Pro;
	color:#336699;
	font-size:1.7em;	
	font-weight:bold;
}
.master span{
	font-weight:normal;
	color:black;
	margin-left:2%;	
}
.univercity-name{
	margin-left:8.6%;
	margin-top:-25px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:1.7em;	
}
.text-right1{
	font-size:0.96em;	
	font-family:Myriad Pro;
	margin-top:-22px;
	margin-left:9.2%;
	margin-right:5%;
	margin-bottom:15px;	
}
.text-right2{
	font-size:0.96em;	
	font-family:Myriad Pro;
	margin-top:-22px;
	margin-left:9.2%;
	margin-right:5%;
	margin-bottom:12px;	
}
.education circle {
r:4.4%; cx:9.6%; cy:15px; 
}
.experience-circle circle:nth-child(2){
	 r:14.4%; cx:14.5%; cy:76px; ; fill:#3366cc;
}
.experience-circle  circle:nth-child(1){
	 r:16%; cx:14.5%; cy:76px; stroke-width:1; stroke:#3366cc; fill:white;
}
.experience-circle rect{
	 fill:#336699; x:112%; y:74px;width:322px;
	height:5px;	
}
.experience p:nth-child(1) {
	display:block;
	margin-top:-101px;
	margin-left:15%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.experience circle {
r:4.4%; cx:9.6%; cy:31px; 
}
.company-name{
	margin-top:-139px;
	margin-left:9%;
	font-family:Myriad Pro;
	font-size:1.7em;	
	font-weight:bold;
}
.company-name span{
	font-weight:normal;
	color:black;
}
.your-job{
	margin-left:9%;
	margin-top:-24px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:1.7em;	
}
.experience-text{
	font-size:0.96em;	
	font-family:Myriad Pro;
	margin-top:-22px;
	margin-left:9.2%;
	margin-right:5%;
	margin-bottom:-2px;	
}
.education circle {
r:4.4%; cx:9.6%; cy:15px; 
}
.software-circle circle:nth-child(2){
	 r:14.4%; cx:14.5%; cy:93px; ; fill:#3366cc;
}
.software-circle  circle:nth-child(1){
	 r:16%; cx:14.5%; cy:93px; stroke-width:1; stroke:#3366cc; fill:white;
}
.software-circle rect{
	 fill:#336699; x:112%; y:90px;width:322px;
	height:5px;	
}
.software p:nth-child(1) {
	display:block;
	margin-top:-84px;
	margin-left:15%;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:2.6em;	
}
.software-left{
	float:left;
	margin-left:1.8%;
}
.software-right{
	float:right;
	margin-right:18%;
}
.left1{
	display:block;
	margin-top:-3px;
	margin-bottom:12px;
	font-size:1.7em;	
	font-family:Myriad Pro;
}
.left2{
	display:block;
	margin-top:-105px;
	margin-bottom:12px;
	font-size:1.7em;	
	font-family:Myriad Pro;
}
.left3{
	display:block;
	margin-top:-105px;
	margin-bottom:12px;
	font-size:1.7em;	
	font-family:Myriad Pro;
}
.right{
	display:block;
	margin-top:-3px;
	
	font-size:1.7em;	
	font-family:Myriad Pro;
}
.rect1{
	fill:#E0EEEE;width:286px;
	height:25px;margin-bottom:60px;
}
.in-rect1{
	fill:#336699;width:262px;
	height:25px;
}
.in-rect2{
	fill:#336699;width:201px;
	height:25px;
}