body{
	width: 1920px;
	min-width:600px;
}
@media screen and (max-width:1920px){
svg{
	overflow:visible;
}

.top-circle circle:nth-child(2){
	r:156px; cx:420px; cy:309px;  fill:#336699;
}
.top-circle circle:nth-child(1){
 r:178px; cx:420px; cy:309px; stroke-width:1; stroke:#336699; fill:white;
}
.name-here{
	font-family:Myriad Pro;
	margin-left:208px;
	margin-top:370px;
	font-size:86px;
}
.surname{
	 font-family:Myriad Pro;
	font-weight:bold;
	margin-left:208px;
	font-size:94px;
	margin-top:-118px;
}
.graphic-designer{
	font-family:Myriad Pro;
	margin-left:257px;
	font-size:37px;
	font-weight:bolder;
	margin-top:-93px;
}
.profile-circle circle:nth-child(2){
	 r:51px; cx:144px; cy:137px; ; fill:#3366cc;
}
.profile-circle circle:nth-child(1){
	 r:57px; cx:144px; cy:137px; stroke-width:1; stroke:#3366cc; fill:white;
}
.profile-circle circle:nth-child(3){
	 r:15px; cx:145px; cy:129px; stroke-width:1; stroke:#3366cc; fill:white;
}
.profile  {
	display:block;
	margin-top:-55px;
	margin-left:216px;
	 font-family:Myriad Pro;
	 color:#336699;
	font-weight:bold;
	font-size:63px;	
}	
.text-profile{
	width:645px;
	 font-family:Myriad Pro;
	 color:black;
	 margin-top:-176px;	
	  margin-left:85px;	
	font-size:24px;	
}
.text-profile span{
font-weight:bold;
}

.contact-circle circle:nth-child(2){
	 r:49px; cx:144px; cy:119px; ; fill:#3366cc;
}
.contact-circle circle:nth-child(1){
	 r:56px; cx:144px; cy:119px; stroke-width:1; stroke:#3366cc; fill:white;
}	
.contact {
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-70px;
	font-weight:bold;
	margin-left:216px;
	font-size:63px;	
}

.contact-information {
	margin-top:20px;
	margin-left:83px;
}
.names{
	font-family:Myriad Pro;
	color:#3366cc;
	font-size:32px;	
	font-weight:bold;
	 text-transform: uppercase;
	 padding-bottom:42px;
	 
}
.information {
	font-family:Myriad Pro;
	font-size:32px;
	padding-bottom:42px;
	  padding-left:60px;
}

.skills-circle circle:nth-child(2){
	 r:49px; cx:141px; cy:83px; ; fill:#3366cc;
}
.skills-circle circle:nth-child(1){
	 r:55px; cx:141px; cy:83px; stroke-width:1; stroke:#3366cc; fill:white;
	 
}
.skills-circle circle:nth-child(3){
	 r:23px; cx:141px; cy:72px; stroke-width:1; stroke:#3366cc; fill:white;
	 
}
.skills{
	 font-family:Myriad Pro;
	 color:#336699;
	 margin-top:-110px;
	font-weight:bold;
	margin-left:213px;
	font-size:63px;	
}
.types{
	margin-top:-10px;
	margin-left:330px;
	font-family:Myriad Pro;
	font-size:40px;
	text-transform: uppercase;
}
.types2{
	margin-top:70px;
	margin-left:308px;
	font-family:Myriad Pro;
	font-size:40px;
	text-transform: uppercase;
}
.types3{
	margin-top:71px;
	margin-left:322px;
	font-family:Myriad Pro;
	font-size:40px;
	text-transform: uppercase;
}
.types4{
	margin-top:71px;
	margin-left:257px;
	font-family:Myriad Pro;
	font-size:40px;
	text-transform: uppercase;
}
.education {
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-2443px;
	margin-left:990px;
	font-weight:bold;
	font-size:63px;	
}
.education-circle circle:nth-child(2){
	 r:52px; cx:901px; cy:-97px; ; fill:#3366cc;
}
.education-circle circle:nth-child(1){
	 r:58px; cx:901px; cy:-97px; stroke-width:1; stroke:#3366cc; fill:white;
}
.master{
	margin-top:-156px;
	margin-left:925px;
	font-family:Myriad Pro;
	color:#336699;
	font-size:40px;	
	font-weight:bold;
}
.date{
	font-weight:normal;
	color:black;
	margin-left:15px;	
}
.univercity-name{
	margin-left:925px;
	margin-top:-35px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:40px;	
}
.text-right{
	width:;
	font-size:24px;	
	font-family:Myriad Pro;
	margin-top:-32px;
	margin-left:927px;
	margin-right:80px;
	margin-bottom:22px;
	
}
.text-right2{
	width:;
	font-size:24px;	
	font-family:Myriad Pro;
	margin-top:-32px;
	margin-left:927px;
	margin-right:80px;
	margin-bottom:19px;
	
}

.master-degree-circle circle {
r:15px; cx:878px; cy:-190px; 
}
.experience {
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-78px;
	margin-left:990px;
	font-weight:bold;
	font-size:63px;	
}
.experience-circle circle:nth-child(2){
	 r:52px; cx:905px; cy:-99px; ; fill:#3366cc;
}
.experience-circle circle:nth-child(1){
	 r:58px; cx:905px; cy:-99px; stroke-width:1; stroke:#3366cc; fill:white;
}
.experience-circle circle:nth-child(3){
	 r:15px; cx:904px; cy:-112px; stroke-width:5; stroke:white; fill:#3366cc;
}
.company-name{
	margin-top:-133px;
	margin-bottom:11px;
	margin-left:925px;
	font-family:Myriad Pro;
	font-size:40px;	
	font-weight:bold;
}
.date2{
	font-weight:normal;
	color:black;
	margin-left:10px;	
}
.your-job{
	margin-left:925px;
	margin-top:-5px;
	font-family:Myriad Pro;
	text-transform: uppercase;
	font-size:40px;	
}
.company-name-circle circle {
r:15px; cx:878px; cy:-165px; 
}
.company-name-circle2 circle {
r:15px; cx:878px; cy:-165px; 
}
.text-right3{
	width:;
	font-size:24px;	
	font-family:Myriad Pro;
	margin-top:-32px;
	margin-left:927px;
	margin-right:80px;
	margin-bottom:-5px;
	
}
.software{
	 font-family:Myriad Pro;
	 color:#336699;
	margin-top:-48px;
	margin-left:990px;
	font-weight:bold;
	font-size:63px;	
}
.software-circle circle:nth-child(2){
	 r:50px; cx:902px; cy:-101px; ; fill:#3366cc;
}
.software-circle circle:nth-child(1){
	 r:56px; cx:902px; cy:-101px; stroke-width:1; stroke:#3366cc; fill:white;
}
.photoshop{
	display:block;
	margin-top:-158px;
	margin-left:855px;
	font-size:40px;	
	font-family:Myriad Pro;
}
.photoshop span{
	margin-left:313px;
}
.illustrator{
	display:block;
	margin-top:90px;
	margin-left:855px;
	font-size:40px;	
	font-family:Myriad Pro;
}
.illustrator span{
	margin-left:303px;
}
.indesign{
	display:block;
	margin-top:85px;
	margin-left:855px;
	font-size:40px;	
	font-family:Myriad Pro;
}
.indesign span{
	margin-left:368px;
}
.rect1{
	fill:#E0EEEE; x:855px; y:-289px;width:430px;
	height:35px;
}
.rect2{
	fill:#E0EEEE; x:1390px; y:-289px;width:430px;
	height:35px;
}
.rect3{
	fill:#E0EEEE; x:1390px; y:-155px;width:430px;
	height:35px;
}
.rect4{
	fill:#E0EEEE; x:855px; y:-155px;width:430px;
	height:35px;
}
.rect5{
	fill:#E0EEEE; x:855px; y:-25px;width:430px;
	height:35px;
}
.rect6{
	fill:#E0EEEE; x:1390px; y:-25px;width:430px;
	height:35px;
}
.profile-rect rect{
fill:#336699; x:465px; y:-100px;width:260px;
	height:8px;
}
.contact-circle rect{
fill:#336699; x:495px; y:115px;width:230px;
	height:8px;
}
.skills-circle line{
	fill:#336699; x:95px; y:215px;width:230px;
	height:8px;
}
.skills-circle .creative1{
r:13px; cx:170px; cy:245px;	fill:#336699;
}
.skills-circle .creative2{
r:13px; cx:211px; cy:245px;	fill:#336699;
}
.skills-circle .creative3{
r:13px; cx:254px; cy:245px;	fill:#336699;
}
.skills-circle .creative4{
r:13px; cx:295px; cy:245px;	fill:#336699;
}
.skills-circle .creative5{
r:13px; cx:338px; cy:245px;	fill:#336699;
}
.skills-circle .creative6{
r:13px; cx:383px; cy:245px;	fill:#336699;
}
.skills-circle .creative7{
r:13px; cx:425px; cy:245px;	fill:#336699;
}
.skills-circle .creative8{
r:13px; cx:467px; cy:245px;	fill:#336699;
}
.skills-circle .creative9{
r:13px; cx:510px; cy:245px;	fill:#336699;
}
.skills-circle .creative10{
r:13px; cx:552px; cy:245px;	fill:#E0EEEE;
}
.skills-circle .creative11{
r:13px; cx:596px; cy:245px;	fill:#E0EEEE;
}
.skills-circle .creative12{
r:13px; cx:638px; cy:245px;	fill:#E0EEEE;
}

.skills-circle .teamwork1{
r:13px; cx:170px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork2{
r:13px; cx:211px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork3{
r:13px; cx:254px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork4{
r:13px; cx:295px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork5{
r:13px; cx:338px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork6{
r:13px; cx:383px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork7{
r:13px; cx:425px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork8{
r:13px; cx:467px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork9{
r:13px; cx:510px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork10{
r:13px; cx:552px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork11{
r:13px; cx:596px; cy:365px;	fill:#336699;
}
.skills-circle .teamwork12{
r:13px; cx:638px; cy:365px;	fill:#E0EEEE;
}

.skills-circle .innovate1{
r:13px; cx:170px; cy:483px;	fill:#336699;
}
.skills-circle .innovate2{
r:13px; cx:211px; cy:483px;	fill:#336699;
}
.skills-circle .innovate3{
r:13px; cx:254px; cy:483px;	fill:#336699;
}
.skills-circle .innovate4{
r:13px; cx:295px; cy:483px;	fill:#336699;
}
.skills-circle .innovate5{
r:13px; cx:338px; cy:483px;	fill:#336699;
}
.skills-circle .innovate6{
r:13px; cx:383px; cy:483px;	fill:#336699;
}
.skills-circle .innovate7{
r:13px; cx:425px; cy:483px;	fill:#E0EEEE;
}
.skills-circle .innovate8{
r:13px; cx:467px; cy:483px;	fill:#E0EEEE
}
.skills-circle .innovate9{
r:13px; cx:510px; cy:483px;	fill:#E0EEEE;
}
.skills-circle .innovate10{
r:13px; cx:552px; cy:483px;	fill:#E0EEEE;
}
.skills-circle .innovate11{
r:13px; cx:596px; cy:483px;	fill:#E0EEEE
}
.skills-circle .innovate12{
r:13px; cx:638px; cy:483px;	fill:#E0EEEE;
}

.skills-circle .communication1{
r:13px; cx:170px; cy:597px;	fill:#336699;
}
.skills-circle .communication2{
r:13px; cx:211px; cy:597px;	fill:#336699;
}
.skills-circle .communication3{
r:13px; cx:254px; cy:597px;	fill:#336699;
}
.skills-circle .communication4{
r:13px; cx:295px; cy:597px;	fill:#336699;
}
.skills-circle .communication5{
r:13px; cx:338px; cy:597px;	fill:#336699;
}
.skills-circle .communication6{
r:13px; cx:383px; cy:597px;	fill:#336699;
}
.skills-circle .communication7{
r:13px; cx:425px; cy:597px;	fill:#336699;
}
.skills-circle .communication8{
r:13px; cx:467px; cy:597px;	fill:#336699;
}
.skills-circle .communication9{
r:13px; cx:510px; cy:597px;	fill:#336699;
}
.skills-circle .communication10{
r:13px; cx:552px; cy:597px;	fill:#336699;
}
.skills-circle .communication11{
r:13px; cx:596px; cy:597px;	fill:#336699;
}
.skills-circle .communication12{
r:13px; cx:638px; cy:597px;	fill:#E0EEEE;
}
.education-circle rect{
	fill:#336699; x:1340px; y:-103px;width:483px;
	height:8px;
}
.experience-circle rect{
	fill:#336699; x:1340px; y:-103px;width:483px;
	height:8px;
}
.software-circle rect{
	fill:#336699; x:1340px; y:-103px;width:483px;
	height:8px;
}

.skills-circle .line{
fill:#336699; x:425px; y:75px;width:297px;
	height:8px;
}
.skills-circle .lamp1{
fill:white; x:130px; y:84px;width:22px;
	height:17px;rx:0;ry:8;
}
.skills-circle .lamp2{
fill:white; x:130px; y:104px;width:22px;
	height:10px;rx:0;ry:5;
}
.experience-circle .bag{
	fill:white; 
	x:873px; y:-114px;
	width:61px;
	height:44px;
}
.software-circle .comp{
	stroke-width:5; stroke:white; fill:#3366cc;
	x:876px; y:-125px;
	width:52px;
	height:32px;
	ry:7;
}
}